body {
	background-color: bisque;
}

#viewScore {
	text-decoration: none;
}

.answerChoice {
	margin: 10px;
	width: 100%;
}

ul {
	list-style-type: none;
}

.scoreTimerContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.timerContainer {
	font-weight: 500;
	font-size: 40px;
}
h1,
.questionText,
.results {
	text-align: center;
	/*border-bottom: 1px solid black;*/
}
.questionContainer {
	align-items: center;
}
button {
	margin: 5px 5px;
	height: 40px;
	width: 300px;
	border: 1px solid blue;
	background: blue;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
.answerContainer,
.startButton {
	text-align: center;
}
.questionText {
	font-size: 24px;
	font-weight: 400;
}
.results {
	font-size: 24px;
}
